body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(250, 200, 209);
}

.headder_div{
    font-family: 'Alkatra', cursive;
    letter-spacing: 7px;
}

.headder_div p{
    font-family: 'Roboto Mono', monospace;
    color: tomato;
    letter-spacing: 1px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align:center;
    text-shadow:5px 5px 5px gray;
}

#start_button{
    background-color:lightgreen;
    width: 80px;
    height: 30px;
}

